.Dot {
  font-style: 'catenbury';
  font-size: 74px;
  position: relative;
}

.D1 {

  bottom: 55px;
  left: 94px
}

.D2 {
  bottom: 125px;
  left: 52px;
}

.D3 {
  bottom: 180px;
  left: 18px;
}

.D4 {
  bottom: 220px;
  left: 4px;
}

body {
  font-family: 'catenbury';
  padding: 60px;
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  gap: 40px;
  background-image: url('Assets/image/Night-sky-photography.jpg');
  background-repeat: no-repeat;
  background-size:1540px 750px;
}

.ClockDial {
  width: 200px;
  height: 200px;
  border: 8px double #563727;
  background-color: rgba(222, 158, 72);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  box-shadow: 2px 2px 4px grey;
}

.Point {
  width: 8px;
  height: 8px;
  background-color: #563727;
  border-radius: 50%;
  position: absolute;
  top: 96px;
  left: 96px;
}

.Hour {
  font-size: 12px;
  font-weight: bold;
  color: #372c2e;
  position: absolute;
}

.HourOne {
  top: 16px;
  right: 52px;
}

.HourTwo {
  top: 50px;
  right: 18px;
}

.HourThree {
  top: 94px;
  right: 4px;
}

.HourFour {
  top: 138px;
  right: 18px;
}

.HourFive {
  top: 172px;
  right: 52px;
}

.HourSix {
  bottom: 4px;
  left: 96px;
}

.HourSeven {
  top: 172px;
  left: 52px;
}

.HourEight {
  top: 138px;
  left: 18px;
}

.HourNine {
  top: 94px;
  left: 4px;
}

.HourTen {
  top: 50px;
  left: 18px;
}

.HourEleven {
  top: 16px;
  left: 52px;
}

.HourTwelve {
  top: 4px;
  left: 94px;
}

.MinuteHandWrapper {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
}

.MinuteHand {
  position: relative;
}
.DoomMinuteHand {
  position: relative;

}

.DoomMinuteHand .Hand {
  width: 2px;
  height: 80px;
  background-color: #563727;
  position: absolute;
  left: 70px;
  transform: rotate(-10deg);

}
.MinuteHand .Hand {
  width: 2px;
  height: 80px;
  background-color: #563727;
  position: absolute;
  left: 79px;
}
.MinuteHand .Hand {
  width: 2px;
  height: 80px;
  background-color: #563727;
  position: absolute;
  left: 79px;
}

.MinuteHand .Arrow {
  font-size: 12px;
  font-weight: bold;
  color: #563727;
  transform: rotate(180deg);
  position: absolute;
  left: 76px;
  top: -3px;
  font-family: Arial, Helvetica, sans-serif;
}
.DoomMinuteHand .Arrow {
  font-size: 12px;
  font-weight: bold;
  color: #563727;
  transform: rotate(170deg);
  position: absolute;
  left: 61px;
  top: -3px;
  font-family: Arial, Helvetica, sans-serif;
}

.HourHandWrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 40px;
  left: 40px;

  border-radius: 50%;
}

.HourHand {
  position: relative;
}

.HourHand .Hand {
  width: 2px;
  
  height: 60px;
  background-color: #563727;
  position: absolute;
  left: 59px;
}
.DoomHourHand .Hand {
  width: 2px;
  
  height: 60px;
  background-color: #563727;
  position: absolute;
  left: 100px;
  bottom: 103px;
}

.HourHand .Arrow {
  font-size: 12px;
  font-weight: bold;
  color: #563727;
  transform: rotate(180deg);
  position: absolute;
  left: 56px;
  top: -3px;
  font-family: Arial, Helvetica, sans-serif;
}
.DoomHourHand .Arrow {
  font-size: 12px;
  font-weight: bold;
  color: #563727;
  transform: rotate(180deg);
  position: absolute;
  left: 97px;
  top: 34px;
  font-family: Arial, Helvetica, sans-serif;
}

.SecondHandWrapper {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 50%;
}

.SecondHand {
  position: relative;
}

.SecondHand .Hand {
  width: 1px;
  height: 70px;
  background-color: #aa7228;
  position: absolute;
  left: 70px;
}
